*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 80vw;
    padding-left: 10px;
    margin-left: 4%;
}

.head{
    border: 6px solid black;
    height: 100px;   
    text-align: center;
    font-size: 30px;
    background: rgb(112,62,177);
background: linear-gradient(90deg, rgba(112,62,177,1) 0%, rgba(54,35,166,1) 35%, rgba(101,60,223,1) 100%);
width: 80%;
margin-left: 4%;
}

footer{
    border: 4px solid black;
    height: 100px;   
    text-align: center;
    font-size: 30px;
    background: rgb(141,60,223);
background: linear-gradient(90deg, rgba(141,60,223,1) 0%, rgba(141,60,223,0.7407407407407407) 35%, rgba(141,60,223,1) 100%);
font-size: 30px;
width: 80%;
margin-left: 4%;

}

.container{

    height: 60vh;
    
}

.item1{
    grid-row: 1/3;
    background: rgb(60,223,200);
background: linear-gradient(90deg, rgba(60,223,200,1) 0%, rgba(60,223,200,1) 35%, rgba(60,223,200,1) 100%);
border: 6px solid black;
margin-top: 0;
text-align: center;
font-size: 30px;
}

.item2{
    grid-column: 2/4;
    background: rgb(60,210,223);
    background: linear-gradient(90deg, rgba(60,210,223,1) 0%, rgba(60,170,223,0.04843304843304841) 35%, rgba(60,223,220,1) 100%);
    border: 6px solid black;
    text-align: center;
font-size: 30px;
}

.item3{
  grid-row: 2/3;
  background: rgb(60,210,223);
  background: linear-gradient(90deg, rgba(60,210,223,1) 0%, rgba(60,170,223,0.04843304843304841) 35%, rgba(60,223,220,1) 100%);
  border: 6px solid black;
  text-align: center;
font-size: 30px;
}

.item4{

    grid-column: 3/4;
    background: rgb(60,210,223);
background: linear-gradient(90deg, rgba(60,210,223,1) 0%, rgba(60,170,223,0.04843304843304841) 35%, rgba(60,223,220,1) 100%);
border: 6px solid black;
text-align: center;
font-size: 30px;
}